

body {
    padding-top: 3rem;
    padding-bottom: 3rem;
    background-color: grey;
    color: #5a5a5a;
  }

    /*                              CIDOGIO PARA VISTA DE CLASES C++                                 */

    .recuadro{
        margin-top: 5rem;
        width: 1361px;
        height: 765px;
        background-color: #5a5a5a;
    }

    .cuest{
        width: 1500px;
        height: 1050px;
        margin-top: 5rem;
    }

    .recuadro2{
        border-radius: 30px;
        width: 580px;
        height: 1050px;
        background-color: #ffffff;
    }

    .recuadro3{
        border-radius: 30px;
        width: 580px;
        height: 1050px;
        background-color: #5a5a5a;
    }


  /*                                CODIGO PARA ETIQUETAS "A"                                        */
  .space{
    margin-right: 10px;
  }
  
  .mamonsita{
    color: pink;
  }
  
  .mamonsita:hover{
    color: pink
  }
  
  .color-a{
    color: white;
  
  }
  
  .color-a:hover{
    color: pink;
  }
  
  /*                                CODIGO SIGUIENTE PARA EL CARRUSEL                           */
  
  .carousel {
    margin-top: -4rem;
    margin-bottom: 4rem;
  }
  .carousel-caption {
    bottom: 3rem;
    z-index: 10;
  }
  
  
  .carousel-item {
    height: 61rem;
  }
  .carousel-item > img {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
    height: 61rem;
  }
  
  
  .marketing .col-lg-4 {
    margin-bottom: 1.5rem;
    text-align: center;
  }
  .marketing h2 {
    font-weight: 400;
  }
  
  .marketing .col-lg-4 p {
    margin-right: .75rem;
    margin-left: .75rem;
  }
  
  
  
  .featurette-divider {
    margin: 5rem 0; 
  }
  
  
  .featurette-heading {
    font-weight: 300;
    line-height: 1;
    letter-spacing: -.05rem;
  }
  
  
  @media (min-width: 40em) {
    .carousel-caption p {
      margin-bottom: 1.25rem;
      font-size: 1.25rem;
      line-height: 1.4;
    }
  
    .featurette-heading {
      font-size: 50px;
    }
  }
  
  @media (min-width: 62em) {
    .featurette-heading {
      margin-top: 7rem;
    }
  }
  