body {
    padding-top: 3rem;
    padding-bottom: 3rem;
    background-color: rgb(255, 255, 255);
    color: #505050;
  }

  nav{
    background-color: black;
}

/*                                        ESTILOS ADMINS                                                 */

.list{
  text-decoration: transparent;
  color: white;
  transition: 0.4s;
}

.list :hover{
  color: rgb(161, 24, 161);
  transition: 0.4s;
}

.table{
    width: 35rem;
    height: 0;
    margin-top: 5rem;
}


  /*                                CODIGO PARA ETIQUETAS "A"                                        */
  .space{
    margin-right: 10px;
  }
  
  .mamonsita{
    color: rgb(161, 29, 117);
    transition: 0.4s;
  }
  
  .mamonsita:hover{
    color: rgb(255, 192, 239);
    transition: 0.4s;
  }
  
  .color-a{
    color: white;
    transition: 0.4s;
  
  }

  .active{
      color: rgb(122, 53, 119);
      transition: 0.4s;
  }
  
  .color-a:hover{
    color: rgb(255, 192, 252);
    transition: 0.4s;
  }

  
  
  /*                                CODIGO SIGUIENTE PARA EL CARRUSEL                           */
  
  .carousel {
    margin-top: -4rem;
    margin-bottom: 4rem;
  }
  .carousel-caption {
    bottom: 3rem;
    z-index: 10;
  }
  
  
  .carousel-item {
    height: 61rem;
  }
  .carousel-item > img {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
    height: 61rem;
  }
  
  
  .marketing .col-lg-4 {
    margin-bottom: 1.5rem;
    text-align: center;
  }
  .marketing h2 {
    font-weight: 400;
  }
  
  .marketing .col-lg-4 p {
    margin-right: .75rem;
    margin-left: .75rem;
  }
  
  
  
  .featurette-divider {
    margin: 5rem 0; 
  }
  
  
  .featurette-heading {
    font-weight: 300;
    line-height: 1;
    letter-spacing: -.05rem;
  }
  
  
  @media (min-width: 40em) {
    .carousel-caption p {
      margin-bottom: 1.25rem;
      font-size: 1.25rem;
      line-height: 1.4;
    }
  
    .featurette-heading {
      font-size: 50px;
    }
  }
  
  @media (min-width: 62em) {
    .featurette-heading {
      margin-top: 7rem;
    }
  }
  