*{
    box-sizing: border-box;
    text-decoration: none;
}

body{
    background-image: url(../image/bg2.jpeg);
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}


































